
.button-container {
  display: flex;
  justify-content: flex-start; /* Align to the left */
  align-items: center;
  position: relative;
  top: 50%; /* Position vertically at the middle */
  left: '1000px'; /* Position at the left edge */
  transform: translateY(-50%); /* Adjust to vertically center the image */
}

.button1 {
  width: 120px;
  padding: 20px;
  background: linear-gradient(to bottom right, rgb(128, 255, 128), rgb(192, 192, 192));
  border-radius: 10px;
  color: black;
  text-align: center;
  cursor: pointer;
  margin: 40px 0;
  
  position: absolute;
  top: 40%;
  right: 21.5%;
  
  
}


.button-wrapper {
  display: flex;
  align-items: center;
}

