.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #ff6b6b, #5565ff);
}

.login-form {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form input,
.login-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.login-form button {
  background-color: #5565ff;
  color: white;
  cursor: pointer;
}

